
#colorDelBody{
    background: linear-gradient(to left, gray, black);
    
}

#logoIrreverente{
    height: 325%;
    width:25%;
}

.tituloPrincipal{
    padding-left: 30px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.bloque1{
    position: absolute;
    top: 105px;
    left: 240px;
    height: 90%;
    width: 67%;
}

#canvasDelDibujo{
    background-color: lightgray;
    
}

.boton{
    background-color: orange;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    width: 300px;
}

#pieDePagina{
    color: gray;
    position: absolute;
    top: 410px;
    left: 70px;
    padding: 10px;
}

/* Configurando la responsividad hasta 480px de ancho */
@media screen and (max-width:480px){
    
    #logoIrreverente{
        padding-left: 50px;
        padding-top: 10px;
        width: 50%;
        height: 50%;
    }

    .tituloPrincipal{
        padding-left: 20px;
        background-color: yellow;
        text-align: center;
        font-weight: bold;
        font-size: medium;
    }
    
    .bloque1{
        position: absolute;
        top:80px;
        left:18%;
        height: 80%;
        width: 70%;
        margin-top: 10%;
    }
    
    #canvasDelDibujo{
        height: 65%;
        width: 99%;
    }

    #condicionesRestriccionesDeUso{
        font-size: x-small;
        color: white;
    }
    
    .boton{
        background-color: orange;
        font-size: medium;
        font-family: sans-serif;
        font-weight: bold;
        width: 90%;
        height: 10%;
        border-radius: 10px;
        border-style: dashed;
        width: 49%;
        margin-top: 10px;
    }
    
    #pieDePagina{
        color: wheat;
        font-size: x-small;
        position: absolute;
        top: 85%;
        left: 8%;
        width: 90%;
        padding: 10px;
    }  
}

@media screen and (min-width:481px) and (max-width:900px){
    
    #logoIrreverente{
        padding-left: 50px;
        padding-top: 10px;
        width: 30%;
        height: 30%;
    }

    .tituloPrincipal{
        padding-left: 0px;
        padding-right: 30px;
        background-color: yellow;
        text-align: center;
        font-weight: bold;
        font-size: medium;
    }
    
    .bloque1{
        position: absolute;
        top:8%;
        left: 15%;
        height: 75%;
        width: 70%;
        margin-top: 10%;
    }
    
    #canvasDelDibujo{
        height: 63%;
        width: 99%;
    }

    #condicionesRestriccionesDeUso{
        font-size: x-small;
        color: white;
    }
    
    .boton{
        background-color: orange;
        font-size: medium;
        font-family: sans-serif;
        font-weight: bold;
        width: 90%;
        height: 15%;
        border-radius: 10px;
        border-style: dashed;
        width: 49%;
        margin-top: 10px;
    }
    
    #pieDePagina{
        color: wheat;
        font-size: x-small;
        position: absolute;
        top: 100%;
        left: 60px;
        width: 90%;
        padding: 10px;
    }  
}
