#colorDelBody{
    background-color: black;
}

#logoIrreverente{
    height: 325%;
    width:25%;
}

.tituloPrincipal{
    padding-left: 30px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.bloque1{
    position: absolute;
    top: 90px;
    left: 400px;
    height: 90%;
    width: 45%;
}

#condicionesRestriccionesDeUso{
    font-size: small;
    color: white;
}

.boton{
    background-color: orange;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
    width: 75%;
    height: 20%;
    margin-top: 3%;
    border-radius: 10px;
    border-style: dashed;
}

#pieDePagina{
    color: wheat;
    position: absolute;
    top: 400px;
    left: 70px;
    padding: 10px;
}

/* Configurando la responsividad hasta 480px de ancho */
@media screen and (max-width:480px){
    
    #logoIrreverente{
        padding-left: 50px;
        padding-top: 10px;
        width: 75%;
        height: 50%;
    }

    .tituloPrincipal{
        padding-left: 30px;
        background-color: yellow;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    
    .bloque1{
        position: absolute;
        top:25%;
        left: 60px;
        height: 90%;
        width: 80%;
    }
    
    #condicionesRestriccionesDeUso{
        font-size: x-small;
        color: white;
    }
    
    .boton{
        background-color: orange;
        font-size: large;
        font-family: sans-serif;
        font-weight: bold;
        width: 90%;
        height: 20%;
        border-radius: 10px;
        border-style: dashed;
    }
    
    #pieDePagina{
        color: wheat;
        font-size: x-small;
        position: absolute;
        top: 80%;
        left: 50px;
        width: 90%;
        padding: 10px;
    }  
}


@media screen and (min-width:481px) and (max-width:900px){
    
    #logoIrreverente{
        padding-left: 50px;
        padding-top: 10px;
        width: 40%;
        height: 50%;
    }

    .tituloPrincipal{
        padding-left: 30px;
        background-color: yellow;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    
    .bloque1{
        position: absolute;
        top:20%;
        left: 60px;
        height: 90%;
        width: 90%;
    }
    
    #condicionesRestriccionesDeUso{
        font-size: x-small;
        color: white;
    }
    
    .boton{
        background-color: orange;
        font-size: large;
        font-family: sans-serif;
        font-weight: bold;
        width: 90%;
        height: 20%;
        margin-top: 2%;
        border-radius: 10px;
        border-style: dashed;
    }
    
    #pieDePagina{
        color: wheat;
        font-size: x-small;
        position: absolute;
        top: 80%;
        left: 50px;
        width: 90%;
        padding: 10px;
    }  
}

